@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* variables */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    font-family: 'Nunito Sans', sans-serif;
}
header{
    background-color: var(--element);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    padding: 1.75em 1em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
header h1{
    font-size: .85em;
    font-weight: 600;
}
header .modeSwitch{
    display: flex;
    align-items: center;
}
header .modeSwitch input{
    display: none;
}
header .modeSwitch p{
    font-size: .75em;
    margin-left: .75em;
}
#searchFilter{
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}
#searchFilter i{
    color: var(--text);
    position: absolute;
    top: 7.35em;
    left: 2.25em;
}
#searchFilter input{
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: relative;
    background-color: var(--element);
    color: var(--input);
    border: 0;
    padding: 1.25em 0 1.25em 5em;
    font-size: .8em;
    border-radius: .5em;
    margin-bottom: 3em;
}
#searchFilter input::placeholder{
    color: var(--text);
    font-size: .8em;
}
#searchFilter select{
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    background-color: var(--element);
    color: var(--text);
    border: 0;
    border-radius: .5em;
    padding: 1em 1.5em;
    background-image: url('./images/chevron-down-solid.svg');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position: 104% center;
}
#searchFilter select:active,
#searchFilter select:focus{
    outline: 0;
}

#flags{
    padding: 3em;
}
.flag{
    width: 100%;
    border-radius: .5em;
    overflow: hidden;
    margin-bottom: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.flag:hover{
    transform: scale(1.1);
}
.flag .top{
    height: 10em;
    overflow: hidden;
}
.flag .top img{
    width: 100%;
    object-fit: cover;
    height: 10em;
}
.flag .bottom {
    margin-top: -.75em;
    background-color: var(--element);
    color: var(--text);
    padding: 1.5em 1.5em 3em;
}
.flag .bottom h2{
    font-size: 1.25em;
    font-weight: 800;
    margin-bottom: .75em;
}
.flag .bottom strong{
    font-weight: 600;
}
.flag .bottom p{
    font-size: .85em;
}
.flag .bottom p:nth-child(3){
    margin: .35em 0;
}